<div class="main-container precognize-font">

  <p>User Info</p>

  <div class="info-wrapper">
    <mat-card>
      <div>First Name: {{currentUser.firstName}}</div>
      <mat-divider></mat-divider>
      <div>Last Name: {{currentUser.lastName}}</div>
      <mat-divider></mat-divider>
      <div>Username: {{currentUser.username}}</div>
      <mat-divider></mat-divider>
      <div>Role: {{currentUser.role}}</div>
      <mat-divider></mat-divider>
      <div>Creation Date: {{currentUser.creationDate | date: 'dd-MM-yyyy HH:mm:ss'}}</div>
    </mat-card>


    <div>
      <button mat-raised-button color="primary" (click)="openEditUserDialog()">
        Edit
      </button>
    </div>
  </div>

</div>
