<div class="main-container">
  <div class="title precognize-font">Edit User "{{user.username}}"</div>
  <div>
    <form [formGroup]="form" class="inputs-container">

      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input required matInput type="text" formControlName="firstName"/>
        <mat-error *ngIf="form.controls.firstName.errors?.required">
          First Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input required matInput type="text" formControlName="lastName"/>
        <mat-error *ngIf="form.controls.lastName.errors?.required">
          Last Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input required matInput type="text" formControlName="username"/>
        <mat-error *ngIf="form.controls.username.errors?.required">
          Username is required
        </mat-error>
      </mat-form-field>


      <mat-form-field *ngIf="currentUser.role === 'admin'" appearance="outline">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of ['user', 'admin']" [value]="role">
            {{role}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls.role.errors?.required">
          Role is required
        </mat-error>
      </mat-form-field>

      <div class="buttons-container">
        <button mat-raised-button color="primary" (click)="onCancel()">
          Cancel
        </button>

        <button mat-raised-button color="primary" [disabled]="form.invalid || form.pristine"
                (click)="onSubmit()">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
