<nav *ngIf="user" class="nav-bar-container">
  <div class="nav-bar-items-container">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a routerLink="/users" routerLinkActive="active">Users</a>
    <button mat-raised-button color="primary" (click)="logout()">Logout</button>
    <button mat-raised-button color="primary" (click)="logout()">Logout</button>
    <button mat-raised-button color="primary" (click)="logout()">Logout</button>
  </div>
</nav>

<div class="app-container">
  <router-outlet></router-outlet>
</div>
