table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 250px;
}

td, th {
  width: 33%;
}

.actions-menu-icon {
  cursor: pointer;
}

.actions-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
  margin-right: 5px !important;
}

.no-data-placeholder {
  font-size: 18px;
  padding: 20px;
}
