<div class="login-container">
  <p>Login</p>
  <div>
    <form [formGroup]="form" class="inputs-container">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input required matInput type="text" formControlName="username"/>
        <mat-error *ngIf="form.controls.username.errors?.required">Username is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="mb-3">
        <mat-label>Password</mat-label>
        <input required matInput type="password" formControlName="password"/>
        <mat-error *ngIf="form.controls.password.errors?.required">Password is required</mat-error>
      </mat-form-field>
      <div class="buttons-container">
        <button mat-raised-button color="primary" [disabled]="loading" class="btn btn-primary"
                (click)="onSubmit()">
          Login
        </button>
        <button mat-raised-button color="primary" [disabled]="loading" class="btn btn-primary"
                (click)="redirectToRegisterForm($event)">
          Register
        </button>
      </div>
    </form>
  </div>
</div>
